{% extends 'base/layout.html' %}
{% load socialaccount %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'base/navbar.css' %}">
{% endblock %}

{% block body %}

    <div class="nav"> 

        {% if request.user.is_authenticated %}

            <a href='{% url "logout" %}'>
                <div class='google'>
                    <h3 class='logout'>Logout</h3>
                </div>
            </a>
            <a href='{% url "add" %}'>
                <div class='google'>
                    <h3 class='add'><i  style='padding-right:10px;color:#2cb67d;' class="fa fa-plus fa-1px"></i>Add Project</h3>
                </div>
            </a>

        {% else %}

            <a href="{% provider_login_url 'google' %}">
                <div class='google'>
                    <img style='width:25px;' src='https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg'>
                    <h3>Login Google</h3>
                </div>
            </a>

        {% endif %}

    </div>
    

{% endblock %}